# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt
!videoTest.cc
!sharedTwtSpEval.cc
!NodePhyStatePlotter.py
!wns3DutyCycle.cc
!wns3VaryLoad.cc
